@import "../../../styles2.scss";

:host {
    background-color: $secondary;
}

.bottom-navbar {
    padding-top: 0;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: white;
    height: 100%;
}
a:hover,
a:active {
    background-color: $primary;
}

.mat-list-item:hover,
.mat-list-item.active {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: $primary;
}

.nav-item-content {
    width: 100%;
}

.mat-fab {
    background-color: #3ee578;
    min-width: 75px;
    min-height: 75px;
}

.icon {
    fill: white;
    margin-top: 8px;
    height: 30px;
    width: 30px;
}
