<mat-nav-list class="bottom-navbar" fxLayout="row" fxLayoutAlign="space-around center">

    <a fxLayout="column" class="nav-item" *ngFor="let item of link" mat-list-item [routerLink]="[item.route]"
        routerLinkActive="active">
        <div fxLayout="column" fxLayoutAlign=" center center" fxLayoutGap="5px" class="nav-item-content">
            <div fxLayout="row" fxLayoutAlign="center">
                <mat-icon class="icon" svgIcon="{{item.icon}}"></mat-icon>
            </div>
            <span>{{item.name}}</span>
        </div>
    </a>
</mat-nav-list>