<div fxLayout="row" fxLayoutAlign="space-between">
    <div *ngIf="selectedCategory !== 'Default'" class="group-title"> {{selectedCategory}}</div>
    <div *ngIf="selectedCategory === 'Default'" class="group-title"> All Devices</div>
</div>
<div fxLayout="row wrap">
    <ng-container *ngFor="let device of devices">
        <light-widget *ngIf="device.category === 'Light'" class="widget" [device]="device"></light-widget>
        <sensor-widget *ngIf="device.category === 'Sensor'" class="widget" [device]="device"></sensor-widget>
    </ng-container>
</div>
