$primary: #008b29;
$secondary: #474747;
$tertiary: #333333;

:host {
    color: white;
}
ul,
li {
    list-style: none;
}

.mat-list-item {
    color: white;
}

.uppercase {
    text-transform: uppercase;
}

.scroll-container {
    max-height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
// Scrollbar for Firefox
.scroller {
    scrollbar-color: $primary transparent; /* thumb and track color */
    scrollbar-width: thin;
}
// Scrollbar for Chrome, Safari, Opera
.scroller::-webkit-scrollbar {
    width: 4px;
}
.scroller::-webkit-scrollbar-thumb {
    background: $primary;
    border-radius: 5px;
}

.z-index-1 {
    z-index: 1;
}

.z-index-2 {
    z-index: 2;
}
